# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Hypothesis test database
.hypothesis/

# Virtual environment
.venv/
env/
venv/

# IDE/editor settings
.vscode/
.idea/

# Build artifacts
*.egg-info/
dist/
build/

# Logs
*.log

# temporary difftest folder
.difftest_temp/

# do not include oss test samples, htmlcov, and slipcover info
/src/htmlcov/
/src/testsample/oss/
slipcover.json
*.coverage

# Exclude strategy JSON files
strategy_*.json

# OS-specific junk
.DS_Store
Thumbs.db
