# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Hypothesis test database
.hypothesis/

# Virtual environment
.venv/
env/
venv/

# IDE/editor settings
.vscode/
.idea/

# Build artifacts
*.egg-info/
dist/
build/

# Logs
*.log

# do not include test samples
/src/testsample/

# OS-specific junk
.DS_Store
Thumbs.db
